<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>商城管理</title>
    <meta charset="utf-8">

    <!--导入头部文件和设置-->
    <th:block th:replace="commons/commons::common_head"/>

</head>

<body>
<!-- WRAPPER 包装-->
<div id="wrapper">

    <!--导入上方导航栏-->
    <div th:replace="commons/commons::common_navbar"></div>
    <!--导入左侧导航栏-->
    <div th:replace="commons/commons::common_left_sidebar"></div>

    <!--编写此页面主要内容-->

    <!-- MAIN 中心区域-->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
               欢迎管理员登录！

            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->

    <!--导入底部版权信息-->
    <div th:replace="commons/commons::common_footer_copyright"></div>

</div>
<!-- END WRAPPER -->

<!--导入基础javascript文件-->
<div th:replace="commons/commons::common_javascript"></div>

<script>


</script>
</body>

</html>
