<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>管理员管理</title>
	<meta charset="utf-8">

	<!--导入头部文件和设置-->
	<th:block th:replace="commons/commons::common_head"></th:block>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!--导入上方导航栏-->
		<div th:replace="commons/commons::common_navbar"></div>
		<!--导入左侧导航栏-->
		<div th:replace="commons/commons::common_left_sidebar"></div>

		<!--编写此页面主要内容-->
		<!-- MAIN -->
		<div class="main" id="app">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">

					<h3 class="page-title">管理员列表</h3>

					<div class="panel-body">

						<!--message-->

						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
								<tr>

									<th>用户ID</th>
									<th>用户名</th>
									<th>密码</th>
									<th>邮箱</th>
									<th>用户权限</th>
									<th>状态</th>

									<th>操作</th>

								</tr>
								</thead>
								<tbody>

								<tr v-for="item in info">
									<th>{{item.userId}}</th>
									<th>{{item.userName}}</th>
									<th>{{item.userPassword}}</th>
									<th>{{item.userEmail}}</th>


									<th>
										<p v-if="item.userAdmin=='0'">
											普通用户
										</p>
										<p v-else-if="item.userAdmin=='1'">
											超级管理员
										</p>
										<p v-else-if="item.userAdmin=='2'">
											商品管理员
										</p>
										<p v-else-if="item.userAdmin=='3'">
											订单管理员
										</p>


									</th>

									<th>离线</th>


									<th >
										<button @click="getProduct($item.orderId)">修改权限</button>


									</th>


								</tr>
								<tr>

									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<a href="/admin/productsAdd">添加用户</a>
									</td>
								</tr>


								</tbody>


							</table>

						</div>


						<!--end message-->



					</div>



				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->

		<!--导入底部版权信息-->
		<div th:replace="commons/commons::common_footer_copyright"></div>

	</div>
	<!-- END WRAPPER -->
	<!--导入基础javascript文件-->
	<div th:replace="commons/commons::common_javascript"></div>

	<script>

		const app = {
			data() {
				return {
					info:''
				}
			},
			mounted () {
				axios
						.get('/admin/getUserAdmin')
						.then(response => (this.info = response.data))
						.catch(function (error) { // 请求失败处理
							console.log(error);
						});
			},
			methods: {

			}
		}

		Vue.createApp(app).mount('#app')

	</script>

</body>

</html>
