<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>修改商品</title>
    <meta charset="utf-8">

    <!--导入头部文件和设置-->
    <th:block th:replace="commons/commons::common_head"></th:block>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!--导入上方导航栏-->
    <div th:replace="commons/commons::common_navbar"></div>
    <!--导入左侧导航栏-->
    <div th:replace="commons/commons::common_left_sidebar"></div>

    <!--编写此页面主要内容-->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <h3 class="page-title">修改商品</h3>

                <div class="alert alert-warning alert-dismissible" role="alert" th:if="${msg}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="fa fa-warning"></i> [[${msg}]]
                </div>
                <div>
                    <a href="/admin/productsManager" class="btn btn-default">返回商品页</a>
                </div>
                <div id="toastr-demo" class="panel">
                    <div class="panel-body">
                        <!--message-->


                        <div class="table-responsive">

                            <form action="/admin/productsUpdateTo">

                                <div class="form-group">
                                    <label for="productId"></label>
                                    <input type="text" class="form-control" name="productId" id="productId"
                                           readonly="readonly" th:placeholder="${product.productId}"
                                           th:value="${product.productId}">
                                </div>

                                <div class="form-group">
                                    <label for="productName"></label>
                                    <input type="text" class="form-control" name="productName" id="productName"
                                           th:placeholder="${product.productName}" th:value="${product.productName}">
                                </div>

                                <div class="form-group">
                                    <select class="form-control" name="productSort" placeholder="种类" th:selected="${product.productSort}">
                                        <option id="其他" value="其他">其他</option>
                                        <option id="数码" value="数码">数码</option>
                                        <option id="百货" value="百货">百货</option>
                                        <option id="生鲜" value="生鲜">生鲜</option>
                                        <option id="服饰" value="服饰">服饰</option>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="productPrice"></label>
                                    <input type="text" class="form-control" name="productPrice" id="productPrice"
                                           th:placeholder="${product.productPrice}" th:value="${product.productPrice}">
                                </div>
                                <div class="form-group">
                                    <label for="productDescript"></label>
                                    <input type="text" class="form-control" name="productDescript" id="productDescript"
                                           th:placeholder="${product.productDescript}"
                                           th:value="${product.productDescript}">
                                </div>
                                <div class="form-group">
                                    <label for="productStock"></label>
                                    <input type="text" class="form-control" name="productStock" id="productStock"
                                           th:placeholder="${product.productStock}" th:value="${product.productStock}">
                                </div>

                                <div class="form-group">
                                    <label for="productImgPath"></label>
                                    <input type="text" class="form-control" name="productImgPath" id="productImgPath"
                                           th:placeholder="${product.productImgPath}"
                                           th:value="${product.productImgPath}">
                                </div>

                                <!--	<div class="form-group">
                                        <label for="productImgPath">选择商品图片</label>
                                        <input type="file" id="productImgPath" name="productImgPath" th:value="${product.productImgPath}">
                                        <p class="help-block">不超过1M大小.</p>
                                    </div>-->

                                <button type="submit" class="btn btn-default">修改</button>
                            </form>

                        </div>


                        <!--end message-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->

    <!--导入底部版权信息-->
    <div th:replace="commons/commons::common_footer_copyright"></div>

</div>
<!-- END WRAPPER -->
<!--导入基础javascript文件-->
<div th:replace="commons/commons::common_javascript"></div>

</body>

</html>
