<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>商城管理</title>
    <meta charset="UTF-8">
    <!--  导入头部文件-->
    <th:block th:replace="common/admin/commons::head_css"/>

    <script type="text/javascript">
        function deleteProduct() {
            alert("quesshanchu");
        }

    </script>

</head>

<body>

<!--引入导航栏-->

<div th:replace="common/admin/commons::head"></div>

<div class="container-fluid">
    <div class="row">
        <!--引入侧边栏-->
        <div th:replace="common/admin/commons::sider"></div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">产品管理</h1>

            <h2 class="sub-header">产品列表</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>商品编号</th>
                        <th>商品名称</th>
                        <th>商品分类</th>
                        <th>商品价格</th>
                        <th>商品库存</th>
                        <th>商品描述</th>
                        <th>图片预览</th>
                        <th>操作</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product,productList:${pageInfo.records}">
                        <td>[[${product.productId}]]</td>
                        <td>[[${product.productName}]]</td>
                        <td>[[${product.productSort}]]</td>
                        <td>[[${product.productPrice}]]</td>
                        <td>[[${product.productDescript}]]</td>
                        <td>[[${product.productStock}]]</td>
                        <td>[[${product.productImgPath}]]</td>
                        <th>
                            <a th:href="'/admin/productsUpdata?id='+${product.productId}">修改</a> &nbsp;
                            <a th:href="'/admin/productsDelete?id='+${product.productId}">删除</a>
                        </th>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="/admin/productsAdd">新增商品</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>


            <nav aria-label="Page navigation" align="center">
                <ul class="pagination ">

                    <li>
                        <a th:href="'/admin/productsManager?pn=1'">首页</a>
                        <a th:href="'/admin/productsManager?pn='+${pageInfo.previous}" th:if="${pageInfo.isPrevious}">上一页</a>
                        <a>当前第 [[${pageInfo.current}]] 页，共 [[${pageInfo.pages}]] 页</a>
                        <a th:href="'/admin/productsManager?pn='+${pageInfo.next}" th:if="${pageInfo.isNext}">下一页</a>
                        <a th:href="'/admin/productsManager?pn='+${pageInfo.pages}">尾页</a>
                    </li>


                </ul>
            </nav>

        </div>

    </div>
</div>

<!--引入js文件-->
<div th:replace="common/admin/commons::footJs"></div>

</body>
</html>
