<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>公共页面</title>


    <th:block th:fragment="head_css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">


        <link rel="icon" href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/favicon.ico">
        <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/dashboard/">

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/dist/css/bootstrap.min.css"
              rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/assets/css/ie10-viewport-bug-workaround.css"
              rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/examples/dashboard/dashboard.css"
              rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]>
        <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->
        <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/assets/js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </th:block>

    <!--    <style>-->
    <!--        * { margin:0; padding:0; }-->
    <!--        ul,li { list-style:none; }-->
    <!--        .catalog { width:164px; margin:0 auto;}-->
    <!--        .t1 { height:4px; background:url(images/bg_catalog.gif) left top no-repeat; }-->
    <!--        .t2 { background:url(images/bg_catalog.gif) -164px top repeat-y; }-->
    <!--        .t3 { height:4px; background:url(images/bg_catalog.gif) left bottom no-repeat; }-->
    <!--        .t2 h2 { height:81px; background:url(images/bg_catalog_logo.gif) center no-repeat; text-indent:-9999px; }-->
    <!--        .t2 h3 { heigth:36px; line-height:36px; margin:0 1px; text-indent:26px; background:url(images/bg_catalog_icon.gif) no-repeat 13px 14px; font-size:14px; border-top:1px solid #fFF; }-->
    <!--        .t2 ul { padding:10px 0; font-size:12px; }-->
    <!--        .t2 li { text-indent:27px; height:30px; line-height:30px; }-->
    <!--        .selected { display:block;}-->
    <!--        .unselected {display:none;}-->
    <!--    </style>-->


</head>
<body>
<div th:fragment="head">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">商城管理系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">商城首页</a></li>
                    <li><a href="#">设置</a></li>
                    <li><a href="#">登出</a></li>
                    <li><a href="#">帮助</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="sider">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="/admin/adminIndex">商城概述 <span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li>
                <a onclick="displayOrHidel1()">商品管理</a>

                <ul id="managerProduct">
                    <li><a href="/admin/productsManager">商品管理</a></li>
                    <li><a href="/admin/productsAdd">新增商品</a></li>
                    <li><a href="/admin/productsUpdate">批量修改</a></li>
                    <li><a href="/admin/productsDelete">批量删除</a></li>
                </ul>

            </li>


        </ul>

        <ul class="nav nav-sidebar">
            <li>
                <a onclick="displayOrHidel2()">订单管理</a>
                <ul id="managerOrder">
                    <li><a href="/admin/ordersManager">订单管理</a></li>

                    <li><a href="/admin/productsAdd">新增商品</a></li>
                    <li><a href="/admin/productsUpdate">批量修改</a></li>
                    <li><a href="/admin/productsDelete">批量删除</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav nav-sidebar">
            <li>
                <a onclick="displayOrHidel3()">用户管理</a>
                <ul id="managerUser">

                    <li><a href="/admin/usersManager">用户管理</a></li>

                    <li><a>新增商品</a></li>
                    <li><a>批量修改</a></li>
                    <li><a>批量删除</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav nav-sidebar">
            <li>
                <a onclick="displayOrHidel4()">管理员管理</a>
                <ul id="managerAdmin">
                    <li> <a href="/admin/adminsManager">管理员管理</a></li>

                    <li><a>新增商品</a></li>
                    <li><a>批量修改</a></li>
                    <li><a>批量删除</a></li>
                </ul>
            </li>
        </ul>

<!--        <style type="text/css">-->
<!--            ul {-->
<!--                list-style-type: none-->
<!--            }-->

<!--            #managerProduct {-->
<!--                display: none-->
<!--            }-->

<!--            #managerOrder {-->
<!--                display: none-->
<!--            }-->

<!--            #managerUser {-->
<!--                display: none-->
<!--            }-->

<!--            #managerAdmin {-->
<!--                display: none-->
<!--            }-->
<!--        </style>-->
<!--        <script>-->
<!--            var hide = true;-->

<!--            function displayOrHidel1() {-->
<!--                var citylist = document.getElementById("managerProduct");-->
<!--                // var citylist=document.getElementsByClassName(citylist);-->
<!--                if (hide) {-->
<!--                    citylist.style.display = "block";-->
<!--                    hide = false;-->
<!--                } else {-->
<!--                    citylist.style.display = "none";-->
<!--                    hide = true;-->
<!--                }-->
<!--            }-->
<!--        </script>-->
<!--        <script>-->
<!--            var hide = true;-->

<!--            function displayOrHidel2() {-->
<!--                var citylist = document.getElementById("managerOrder");-->
<!--                // var citylist=document.getElementsByClassName(citylist);-->
<!--                if (hide) {-->
<!--                    citylist.style.display = "block";-->
<!--                    hide = false;-->
<!--                } else {-->
<!--                    citylist.style.display = "none";-->
<!--                    hide = true;-->
<!--                }-->
<!--            }-->
<!--        </script>-->
<!--        <script>-->
<!--            var hide = true;-->

<!--            function displayOrHidel3() {-->
<!--                var citylist = document.getElementById("managerUser");-->
<!--                // var citylist=document.getElementsByClassName(citylist);-->
<!--                if (hide) {-->
<!--                    citylist.style.display = "block";-->
<!--                    hide = false;-->
<!--                } else {-->
<!--                    citylist.style.display = "none";-->
<!--                    hide = true;-->
<!--                }-->
<!--            }-->
<!--        </script>-->
<!--        <script>-->
<!--            var hide = true;-->

<!--            function displayOrHidel4() {-->
<!--                var citylist = document.getElementById("managerAdmin");-->
<!--                // var citylist=document.getElementsByClassName(citylist);-->
<!--                if (hide) {-->
<!--                    citylist.style.display = "block";-->
<!--                    hide = false;-->
<!--                } else {-->
<!--                    citylist.style.display = "none";-->
<!--                    hide = true;-->
<!--                }-->
<!--            }-->
<!--        </script>-->


    </div>

</div>

<div th:fragment="page">
    <nav aria-label="Page navigation" align="center">
        <ul class="pagination ">

            <li>
                <a th:href="'/?pn=1'">首页</a>
                <a th:href="'/?pn='+${pageInfo.previous}" th:if="${pageInfo.isPrevious}">上一页</a>
                <a>当前第 [[${pageInfo.current}]] 页，共 [[${pageInfo.pages}]] 页</a>
                <a th:href="'/?pn='+${pageInfo.next}" th:if="${pageInfo.isNext}">下一页</a>
                <a th:href="'/?pn='+${pageInfo.pages}">尾页</a>
            </li>


        </ul>
    </nav>


</div>


<!--<div class="re_left">-->
<!--    <div class="catalog">-->
<!--        <div class="t1"></div>-->
<!--        <div class="t2">-->
<!--            <h2>资源</h2>-->
<!--            <h3><a href="javascript:void(0);" src="#">平台使用说明</a></h3>-->
<!--            <ul class="unselected">-->
<!--                <li><a href="#">平台介绍</a></li>-->
<!--                <li><a href="#">应用开发说明</a></li>-->
<!--                <li><a href="#">应用审核流程</a></li>-->
<!--                <li style="display:none;"><a href="#">成功案例</a></li>-->
<!--                <li><a href="#">开发者协议</a></li>-->
<!--            </ul>-->
<!--            <h3><a href="javascript:void(0);" src="#">API说明</a></h3>-->
<!--            <ul class="unselected">-->
<!--                <li><a href="#">API文档</a></li>-->
<!--                <li><a href="#">Oauth授权说明</a></li>-->
<!--                <li><a href="#">API调用权限</a></li>-->
<!--            </ul>-->
<!--            <h3><a href="javascript:void(0);" src="#">SDK及资源下载</a></h3>-->
<!--            <ul class="unselected">-->
<!--                <li><a href="#">SDK下载</a></li>-->
<!--                <li><a href="#">视觉素材下载</a></li>-->
<!--            </ul>-->
<!--            <h3><a href="javascript:void(0);" src="#">帮助中心</a></h3>-->
<!--            <ul class="unselected">-->
<!--                <li><a href="#">常见问题解答</a></li>-->
<!--                <li><a href="#">返回错误码说明</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="t3"></div>-->
<!--    </div>-->
<!--</div>-->
<!--<script type="text/javascript">-->
<!--    $(document).ready(function(){-->
<!--        var catalogIndex=[0,0];-->
<!--        if (catalogIndex[0]==2){catalogIndex[0]=3;}-->
<!--        else if(catalogIndex[0]==3){catalogIndex[0]=2;}-->
<!--        if(catalogIndex.length==0){catalogIndex=[0,0];}-->

<!--        $(".re_left .catalog h3 a").each(function(){-->
<!--            $(this).attr("src",$(this).attr("href"));-->
<!--        });-->
<!--        $(".re_left .catalog").find("ul").css("border-bottom",0).end()-->
<!--            .find("h3:eq("+catalogIndex[0]+")").addClass("open")-->
<!--            .find("a").attr("href","javascript:void(0);").end()-->
<!--            .next().css("display","block")-->
<!--            .find("li:eq("+(catalogIndex[1]-1==-1?9999:catalogIndex[1]-1)+")")-->
<!--            .addClass("active");$(".re_left .catalog")-->
<!--            .find("h3").last().css("border-bottom-width","0");});-->
<!--    $(".re_left .catalog").find("h3").bind("click",function(){-->
<!--        if ($(this).hasClass("open"))-->
<!--        {-->
<!--            if ($(this).next().find(".active").size()==0)-->
<!--            {-->
<!--                $(this).next().slideUp(500,function(){-->
<!--                    $(this).prev().removeClass("open");-->
<!--                });-->
<!--            }-->
<!--            else-->
<!--            {-->
<!--                $(this).next().slideUp(500,function(){-->
<!--                    $(this).prev().removeClass("open");-->
<!--                    //window.location.href=$(this).prev().find("a").attr("src");-->
<!--                });-->
<!--            }-->
<!--        }-->
<!--        else-->
<!--        {-->
<!--            $(this).parent().find("ul").slideUp("slow").end().find("h3").removeClass("open");-->
<!--            $(this).addClass("open").next().slideDown(500,function(){-->
<!--                if ($(this).nextAll("h3").size()>0)-->
<!--                {$(this).parent().find("h3").last().css("border-bottom-width","1px");}-->
<!--                else-->
<!--                {$(this).parent().find("h3").last().css("border-bottom-width","0");}-->
<!--                window.location.href=$(this).prev().find("a").attr("src");-->
<!--            });-->
<!--        }-->
<!--        return false;-->
<!--    });-->
<!--</script>-->


<div th:fragment="footJs">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/assets/js/ie10-viewport-bug-workaround.js"></script>
</div>


</body>
</html>