<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/navbar/">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/examples/navbar/navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active" href="#">首页</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">分类</a></li>
                    <li><a href="#">购物车</a></li>
                    <li><a href="#">关于我们</a></li>
<!--                    <li class="dropdown">-->
<!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li><a href="#">Action</a></li>-->
<!--                            <li><a href="#">Another action</a></li>-->
<!--                            <li><a href="#">Something else here</a></li>-->
<!--                            <li role="separator" class="divider"></li>-->
<!--                            <li class="dropdown-header">Nav header</li>-->
<!--                            <li><a href="#">Separated link</a></li>-->
<!--                            <li><a href="#">One more separated link</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register">注册</a></li>
                    <li><a href="/login">登录</a></li>
                    <li><a href="/admin">管理员登录</a></li>
                    <li><a href="#">我的</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>


<!--    <script type="text/javascript">-->
<!--        window.onload=function (){-->
<!--            $.ajax({-->
<!--                type: "get",    //请求方式为get，也可以是设置为post-->
<!--                url: "/getIndex",     //所要获取的json文件相对地址，注意不要写错了，我这里放在同一个目录下的-->
<!--                async: true,　　　　　　　　//是否为异步请求，ture为异步请求，false为同步请求-->
<!--                success: function(data) {    //当请求之后调用。传入返回后的数据，以及包含成功代码的字符串-->
<!--                    // alert(data);    //这里会弹出json文件中所有的字符串数据，如图3-1-->

<!--                }-->
<!--            });-->
<!--        }-->
<!--    </script>-->


    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">


        <h2 class="sub-header">欢迎选购</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>商品名称</th>
                    <th>商品分类</th>
                    <th>商品价格</th>
                    <th>商品库存</th>
                    <th>商品描述</th>
                </tr>
                </thead>
                <tbody>


                <tr th:each="product,productList:${pageInfo.records}">
                    <td >[[${product.productName}]]</td>
                    <td >[[${product.productSort}]]</td>
                    <td >[[${product.productPrice}]]</td>
                    <td >[[${product.productStock}]]</td>
                    <td >[[${product.productId}]]</td>

                </tr>


                </tbody>
            </table>
        </div>
        <div class="modal-footer" align="center">

<!--            <ul class="pagination" th:align="center">-->
<!--                <li class="page-link" th:if="${pageInfo.hasPreviousPage}">-->
<!--                    <a th:href="'/&pn=1'">首页</a>-->
<!--                </li>-->
<!--                <li class="page-link" th:if="${pageInfo.hasPreviousPage}">-->
<!--                    <a th:href="'/&pn='+${pageInfo.prePage}">上一页</a>-->
<!--                </li>-->
<!--                <li class="page-link" th:each="nav:${pageInfo.navigatepageNums}">-->
<!--                    <a th:href="'/&pn='+${nav}"-->
<!--                       th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>-->
<!--                    <span style="font-weight: bold;background: lightskyblue;" th:if="${nav == pageInfo.pageNum}"-->
<!--                          th:text="${nav}"></span>-->
<!--                </li>-->
<!--                <li class="page-link" th:if="${pageInfo.hasNextPage}">-->
<!--                    <a th:href="'/&pn='+${pageInfo.nextPage}">下一页</a>-->
<!--                </li>-->
<!--                <li class="page-link" th:if="${pageInfo.pageNum < pageInfo.pages}">-->
<!--                    <a th:href="'/&pn='+${pageInfo.pages}">尾页</a>-->
<!--                </li>-->
            </ul>
        </div>




        <nav aria-label="Page navigation" align="center">
            <ul class="pagination ">

                <li>
                    <a th:href="'/?pn=1'">首页</a>
<!--                    /?pn='+${pageInfo.current}-1-->
                    <a th:href="'/?pn='+${pageInfo.previous}" th:if="${pageInfo.isPrevious}">上一页</a>

<!--                    <a th:href="" th:style="${pageInfo.current} gt 1?'':'display: none'">上一页</a>-->
                    <a>当前第 [[${pageInfo.current}]] 页，共 [[${pageInfo.pages}]] 页</a>
<!--                    <a th:href="'/?pn='+${pageInfo.current}+1" th:if="${pageInfo.current} lt ${pageInfo.pages}">下一页</a>-->
<!--&lt;!&ndash;                    <p class="pagination pagination-sm" > 当前第 [[${pageInfo.current}]] 页，共 [[${pageInfo.pages}]] 页，[[${pageInfo.total}]] 条记录</p>&ndash;&gt;-->

                    <a th:href="'/?pn='+${pageInfo.next}" th:if="${pageInfo.isNext}">下一页</a>

<!--                    <a th:href="" th:style="${pageInfo.pages}-${pageInfo.current} gt 0 ?'':'display: none'">下一页</a>-->
                    <a th:href="'/?pn='+${pageInfo.pages}">尾页</a>
                </li>

<!--                <li th:if="${pageInfo.current} ne 1">-->
<!--                    <a th:href="'/?&pn='+${pageInfo.current}-1" aria-label="上一页">-->
<!--                        <span aria-hidden="true">&laquo;</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li>-->
<!--                    <a th:href="'/?&pn=' + ${i}"  th:each="i :${#numbers.sequence(pageInfo.current, pageInfo.current+2)}"-->
<!--                       th:text="${i}"  th:class="${pageInfo.current == i}? 'curPage' :'' " th:if="${pageInfo.pages} ge ${i}"></a>-->
<!--                </li>-->

<!--                <li th:if="${pageInfo.current} ne ${pageInfo.pages}">-->
<!--                    <a th:href="'/?&pn='+${pageInfo.current}+1" aria-label="下一页">-->
<!--                        <span aria-hidden="true">&raquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                 <p class="pagination pagination-sm" > 第 [[${pageInfo.current}]] 页，共 [[${pageInfo.pages}]] 页，[[${pageInfo.total}]] 条记录</p>-->

            </ul>
        </nav>






    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
