<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.12/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/navbar/">

    <title>欢迎光临</title>

    <!--导入头部文件-->
    <th:block th:replace="commons/usercomm::common_head"></th:block>


</head>

<body>

<div class="container">


    <!-- WRAPPER -->
    <div id="wrapper">

        <!--导入上方导航栏-->
        <div th:replace="commons/usercomm::common_navbar"></div>
        <!--编写此页面主要内容-->
        <!-- MAIN class="main"-->
        <div>

            <p style="color: red;" id="msg"></p>

            <!-- MAIN CONTENT class="container-fluid"-->
            <div class="main-content">
                <div>

                    <!--        <h2 class="sub-header">欢迎选购</h2>-->

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <th th:each="product,productList:${pageInfo.records}">
                                <div>
                                    <img th:src="${product.productImgPath}" height="200" width="200">
                                    <p>[[${product.productName}]]</p>
                                    <p>￥[[${product.productPrice}]]</p>
                                    <p>描述：[[${product.productDescript}]]</p>
                                    <p>剩余：[[${product.productStock}]]</p>
                                    <button type="button" th:onclick="addToCart([[${product.productId}]],[[${product.productName}]])">加入购物车
                                    </button>
                                </div>
                            </th>
                        </table>
                    </div>

                    <nav aria-label="Page navigation" align="center">
                        <ul class="pagination ">

                            <li>
                                <a th:href="'/?pn=1'+'&sort='+${pageInfo.sort}">首页</a>
                                <a th:href="'/?pn='+${pageInfo.previous}+'&sort='+${pageInfo.sort}"
                                   th:if="${pageInfo.isPrevious}">上一页</a>
                                <a>当前第 [[${pageInfo.current}]] 页，共 [[${pageInfo.pages}]] 页</a>
                                <a th:href="'/?pn='+${pageInfo.next}+'&sort='+${pageInfo.sort}"
                                   th:if="${pageInfo.isNext}">下一页</a>
                                <a th:href="'/?pn='+${pageInfo.pages}+'&sort='+${pageInfo.sort}">尾页</a>
                            </li>


                        </ul>
                    </nav>


                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->

        <!--导入底部版权信息-->
        <div th:replace="commons/commons::common_footer_copyright"></div>

    </div>
    <!-- END WRAPPER -->



</div> <!-- /container -->



<!--导入js-->
<th:block th:replace="commons/usercomm::common_javascript"></th:block>

<script type="text/javascript">
    function addToCart(productId,productName) {
        // alert("productId==" + productId);

        $.ajax({
            type: 'get',
            url: '/addToCart',
            data: 'productId=' + productId,
            success: function (data) {
                // alert("data==" +data);

                if (data == true) {
                    var msg = document.getElementById("msg");
                    msg.innerHTML = productName+"添加成功！";
                    msg.style.color = "green";
                    //用户名可用
                } else if (data = false) {
                    var msg = document.getElementById("msg");
                    msg.innerHTML = productName+ "添加失败！";
                    msg.style.color = "red";
                }
                else {
                    var msg = document.getElementById("msg");
                    msg.innerHTML = productName+ "添加失败，请先登录！";
                    msg.style.color = "red";
                }

            },

        });

    }
</script>


</body>
</html>
