<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
   <!--导入头部文件-->
    <th:block th:replace="commons/usercomm::common_head"></th:block>
    <!--导入js-->
    <th:block th:replace="commons/usercomm::common_javascript"></th:block>

</head>
<body>
<!--导入上方导航栏-->
<div th:replace="commons/usercomm::common_navbar"></div>

<!--编写此页面主要内容-->
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">购物车</h3>

            <div class="panel-body">

                <!--message-->

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>名称</th>
                            <th>描述</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>总价 </th>

                            <th colspan="2">操作</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="products:${#request.getAttribute('items')}">

                            <td th:text="${products.value.product.productName}"></td>
                            <td th:text="${products.value.product.productDescript}"></td>
                            <td th:text="${products.value.product.productPrice}"></td>
                            <td th:text="${products.value.number}"></td>
                            <td th:text="${products.value.totalPrice}"></td>
                            <td>
                                <a href="#">-</a>
                            </td>
                            <td>
                                <a href="#">+</a>
                            </td>


                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td  th:text="'总数：'+${#request.getAttribute('cart').totalCount}"></td>
                            <td  th:text="'总价：'+${#request.getAttribute('cart').totalPrice}"></td>
                            <td colspan="2">
                                <a href="#">结算</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>


                <!--end message-->

            </div>


        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->

<!--导入底部版权信息-->
<div th:replace="commons/commons::common_footer_copyright"></div>

</body>
</html>