<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
   <!--导入头部文件-->
    <th:block th:replace="commons/usercomm::common_head"></th:block>
    <!--导入js-->
    <th:block th:replace="commons/usercomm::common_javascript"></th:block>


    <!--    导入vue和axios-->
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/vue.global.js"></script>




</head>
<body>
<!--导入上方导航栏-->
<div th:replace="commons/usercomm::common_navbar"></div>

<!--编写此页面主要内容-->
<!-- MAIN -->
<div class="main" id="app">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">购物车</h3>

            <p style="color: red;" id="msg"></p>


            <div class="panel-body">

                <!--message-->

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>名称</th>
                            <th>描述</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>总价 </th>

                            <th colspan="2">操作</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="products:${#request.getAttribute('items')}">

                            <td th:text="${products.value.product.productName}"></td>
                            <td th:text="${products.value.product.productDescript}"></td>
                            <td th:text="${products.value.product.productPrice}"></td>
                            <td th:text="${products.value.number}"></td>
                            <td th:text="${products.value.totalPrice}"></td>
                            <td>
                                <a href="#">-</a>
                            </td>
                            <td>
                                <a href="#">+</a>
                            </td>


                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td  th:text="'总数：'+${#request.getAttribute('cart').totalCount}"></td>
                            <td  th:text="'总价：'+${#request.getAttribute('cart').totalPrice}"></td>
                            <td colspan="2">

                                <button onclick="payMoney()">结算</button>



                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>


                <!--end message-->

            </div>


        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->

<!--导入底部版权信息-->
<div th:replace="commons/commons::common_footer_copyright"></div>

<script type="text/javascript">

    function payMoney (){
        $.ajax({
            type: 'get',
            url: '/addToOrder',
            success: function (data) {
                // alert("data==" +data);

                if (data == true) {
                    var msg = document.getElementById("msg");
                    msg.innerHTML = "结算成功！";
                    msg.style.color = "green";
                    alert("结算成功！三秒后跳转");
                    setTimeout(go,3000);

                    $(location).attr("/getOrder");

                    //用户名可用
                } else if (data = false) {
                    var msg = document.getElementById("msg");
                    msg.innerHTML = "结算失败！";
                    msg.style.color = "red";
                }
                else {
                    var msg = document.getElementById("msg");
                    msg.innerHTML = "结算失败，请先登录！";
                    msg.style.color = "red";
                }

            },

        });

        function go(){
            location.href="/index";
        }


    }


</script>

</body>
</html>