<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>登录</title>
	<meta charset="utf-8">

	<!--导入头部文件和设置-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/static/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/static/assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/static/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/assets/img/favicon.png">
</head>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box ">
					<div class="left">
						<div class="content">
							<div class="header">
								<div class="logo text-center"><img src="/static/assets/img/logo-dark.png" alt="Klorofil Logo"></div>
								<p class="lead">欢迎登录</p>
							</div>
							<p style="color: red;" th:text="${#request.getAttribute('msg')}" th:if="${#request.getAttribute('msg')}"></p>
							<form class="form-auth-small" action="/login" method="post">
								<div class="form-group">
									<label for="username" class="control-label sr-only">Email</label>
									<input type="text" class="form-control" id="username" name="username" placeholder="用户名">
								</div>
								<div class="form-group">
									<label for="password" class="control-label sr-only">Password</label>
									<input type="password" class="form-control" id="password" name="password"  placeholder="密码">
								</div>
								<div class="form-group clearfix">
									<label class="fancy-checkbox element-left" >
										<input type="checkbox" name="remember" value="true">
										<span>记住我</span>
									</label>
								</div>
								<button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>
								<div class="bottom">
									<span class="helper-text"><i class="fa fa-lock"></i> <a href="#">忘记密码?</a></span>
								</div>
							</form>
						</div>
					</div>
					<div class="right">
						<div class="overlay"></div>
						<div class="content text">
							<h1 class="heading">新一代电子商城</h1>
							<a style="color: black" href="/register">没有账号?点此注册</a>

						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->

	<!--底部版权信息 -->
	<div class="clearfix" align="center"></div>
	<footer align="center">
		<div class="container-fluid">
			<p class="copyright">Copyright &copy; 2021. stary .</p>
		</div>
	</footer>
	<!--end 底部版权信息 -->

	<!-- Javascript -->
	<script src="/static/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="/static/assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="/static/assets/scripts/klorofil-common.js"></script>

	<script src="/static/assets/vendor/toastr/toastr.min.js"></script>
	<!--end javascript-->

</body>

</html>
