<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stary.mymall.mapper.OrderMapper">

    <select id="queryOrderByUser" resultType="com.stary.mymall.entity.Order" parameterType="string">
        SELECT * FROM order_table where user_id=#{userId}
    </select>

    <select id="queryOrderByOrder"  resultType="com.stary.mymall.entity.Order" parameterType="string">
        SELECT * FROM order_table where order_id=#{orderId}
    </select>

    <insert id="addOrder" parameterType="com.stary.mymall.entity.Order">
        insert into order_table(order_id,order_time,user_id,order_total_price,order_status)
        values(#{orderId},#{orderTime},#{userId},#{orderTotalPrice},#{orderStatus})
    </insert>

    <update id="updateOrderStatus">
        update order_table set order_status=#{orderStatus}
            where order_id=#{orderId}
    </update>

    <select id="queryOrderAll" resultType="com.stary.mymall.entity.Order" parameterType="string">
        SELECT * FROM order_table
    </select>



</mapper>
